{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-chart-line"></i> &nbsp;&nbsp; Chiffre d'affaire de l'année en cours et de N-1</h1>
    </td>
    <td class='right'>   
        &nbsp;
    </td>
  </tr>
</table> 
<hr>
   {# <div class="bar-container" data-chart-on></div> #}

{# SQL par année et mois
SELECT SUM(product_facture.total_ttc) as ca, YEAR(facture.date), MONTH(facture.date)
FROM product_facture

JOIN facture ON facture.id = product_facture.id_facture_id

WHERE YEAR(facture.date) = 2022
OR YEAR(facture.date) = 2021

GROUP BY MONTH(facture.date), YEAR(facture.date); #}

<div class="homeContainer py-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-block">
                <h3 class="card-title" style="color:#ffce00">Année {{ caNow[0].annee }}</h3>
                <hr>
                {% set caTotal = 0 %}
                {% for facture in caNow %}
                    {% set caTotal = caTotal + facture.monthCa %}
                {% endfor %}
                <p class="card-text">
                Chiffre d'affaire: <strong>{{ caTotal }} €</strong><br>
                Nombre de factures: {{ nbFactures[0].nbFactures }}
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-block">
                <h3 class="card-title" style="color:#6aedc7">Année {{ caN1[0].annee }} <small>(n-1)</small></h3>
                <hr>
                {% set caTotal = 0 %}
                {% for facture in caN1 %}
                    {% set caTotal = caTotal + facture.monthCa %}
                {% endfor %}
                <p class="card-text">
                Chiffre d'affaire: <strong>{{ caTotal }} €</strong><br>
                Nombre de factures: {{ nbFacturesN1[0].nbFactures }}
                </p>
            </div>
        </div>
    </div>
    <div class="js-line-chart-1" data-chart-on></div>
</div>

 {# set data to briteChart.js #}
<div data-id="{{ caNow|json_encode }}" id="data-brite"></div>
<div data-id="{{ caN1|json_encode }}" id="dataN1-brite"></div>

<script>
$tabCA = {{ caNow|json_encode|raw }};
console.log($tabCA);

</script>


{% endblock %}
