<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper"> </div>
    <div class="container-fluid all-show"> 
        <a class="navbar-brand" href="/home">Projet GC <i class="fa-brands fa-accusoft"></i></a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/customer">Clients</a> </li>
                <li class="nav-item"> <a class="nav-link active" href="/product">Produits/Services</a> </li>
                <li class="nav-item"> <a class="nav-link active" href="/facture">Facturation</a> </li>
                <li class="nav-item"> <a class="nav-link active" href="#">Devis</a> </li>
                <li class="nav-item"> <a class="nav-link active" href="#">Agenda</a> </li>
                <li class="nav-item"> <a class="nav-link active" href="/user">Admin</a> </li>
                <li class="nav-item"> <a class="nav-link active" href="/logout">Déconnection</a> </li>
            </ul>
           
        </div>
    </div>
</nav>
