<div class="dataContainer">
{{ form_start(form) }}
<div class="row g-3 ">
  <div class="col-md-6">    
    {{ form_row(form.lastname) }}
  </div>
  <div class="col-md-6">    
    {{ form_row(form.firstname) }}
  </div>

  <div class="col-12">
    {{ form_row(form.adresse) }}
  </div>

  <div class="col-md-6">
    {{ form_row(form.ville) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.code_postal) }}
  </div>

  <div class="col-md-4">
    {{ form_row(form.telephone) }}
  </div>
  <div class="col-md-4">
    {{ form_row(form.portable) }}
  </div>
  <div class="col-md-4">
    {{ form_row(form.fax) }}
  </div>

  <div class="col-md-6">
    {{ form_row(form.mail) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.website) }}
  </div>

  <div class="col-md-6">
    {{ form_row(form.raison_sociale) }}
  </div>
  <div class="col-md-6">
    <div class="form-check">
        {{ form_row(form.forme_juridique) }}
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
  </div>

</div>
{{ form_end(form) }} 
</div>
