{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Nouveau client</h1>
    </td>
    <td class='right'>   
        &nbsp;
    </td>
  </tr>
</table> 
<hr>

    {{ include('customer/_form.html.twig') }}

{% endblock %}
