{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Information client</h1>
    </td>
    <td class='right'>   
        <div class="button_slide slide_right">{{ include('customer/_delete_form.html.twig') }}</div>
    </td>
  </tr>
</table> 
<hr>

<div class="dataContainer py-4">

    <div class="p-3 mb-4 data-bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><i class="fa-solid fa-address-card"></i> {{ customer.lastname }} {{ customer.firstname }}  - <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">modifier</a></h1>
        <p class="col-md-8 fs-8">{{ customer.adresse }} <br>
        {{ customer.codePostal }} {{ customer.ville }}</p>
        <hr>
        {# <p class="col-md-8 fs-8">
        </p> #}
        <div class="containerTel">
            <div class="dataTel"><i class="fa-solid fa-phone"></i><br>{{ customer.telephone }}</div>
            <div class="dataTel"><i class="fa-solid fa-mobile-screen-button"></i><br>{{ customer.portable }}</div>
            <div class="dataTel"><i class="fa-solid fa-fax"></i><br>{{ customer.fax }}</div>
        </div> 
        <hr>
        <div class="containerTel">
            <div class="dataMail"><i class="fa-solid fa-envelope"></i><br>{{ customer.mail }}</div>
            <div class="dataMail"><i class="fa-solid fa-house-chimney"></i><br>{{ customer.website }}</div>
        </div>        
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">          
          <h2>{{ customer.raisonSociale }}</h2>
          <p>{{ customer.formeJuridique }}</p>
          <p>
            No. Siren :  XXXXXXX<br>
            No. TVA : XXXXXXX
          </p>
          
        </div>
      </div>

      <div class="col-md-6">
        
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11127.30957135032!2d3.0769151999999997!3d45.79468565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1648136428013!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      ID du client : {{ customer.id }}
    </footer>
</div>

{% endblock %}
