<div class="dataContainer">
{{ form_start(form) }}
<div class="row g-3 ">
  <div class="col-md-6">    
    {{ form_row(form.name) }}
  </div>  

  <div class="col-12">
    {{ form_row(form.description) }}
  </div>

  <div class="col-md-6">
    {{ form_row(form.price_ht) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.tva) }}
  </div>  

  <div class="col-12">
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
  </div>

</div>
{{ form_end(form) }} 
</div>
