{% extends 'base.html.twig' %}

{% block title %}Editer un Produit{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Modifier le produit</h1>
    </td>
    <td class='right'>   
        <div class="button_slide slide_right">{{ include('product/_delete_form.html.twig') }}</div>
    </td>
  </tr>
</table> 
<hr>

    {{ include('product/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    
{% endblock %}
