{% extends 'base.html.twig' %}

{% block title %}Liste des produits/services{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Liste des produits/services</h1>
    </td>
    <td class='right'>        
        <div class="button_slide slide_right"><a href="{{ path('app_product_new') }}"><i class="fa-solid fa-plus"></i> &nbsp;Ajouter </a></div>
    </td>
  </tr>
</table>    
<hr>

<div class="dataList">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
              <th scope="col">Prix HT</th>
              <th scope="col">TVA</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.priceHt }}</td>
                <td>{{ product.tva }}</td>   
                <td><a href="{{ path('app_product_show', {'id': product.id}) }}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                <td><a href="{{ path('app_product_edit', {'id': product.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
            </tr>
          {% else %}
            <tr>
                <td colspan="14">aucun résultat</td>
            </tr>
          {% endfor %}      
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {{ knp_pagination_render(products) }}
        </ul>
        </nav>
    </div>
</div>

{% endblock %}
