{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Information produit/service</h1>
    </td>
    <td class='right'>   
        <div class="button_slide slide_right">{{ include('product/_delete_form.html.twig') }}</div>
    </td>
  </tr>
</table> 
<hr>

<div class="dataContainer py-4">

    <div class="p-3 mb-4 data-bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><i class="fa-brands fa-servicestack"></i> {{ product.name }}  - <a href="{{ path('app_product_edit', {'id': product.id}) }}">modifier</a></h1>
        <p class="col-md-8 fs-8">{{ product.description }}</p>
        <p class="col-md-8 fs-8">
            Prix HT : {{ product.priceHt }} €<br>
            TVA : {{ product.tva }}</p>
        <hr>       
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      ID du produit : {{ product.id }} 
    </footer>
</div>

    <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
