.dataList {
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    font-size: 0.8rem;
    .table-responsive {                   
        color: #fff;
        background-color: #1b1d3a;  
        td {
            a {
                color: #a76f65;
            }
            a:hover {
                color: #a82811;
            }
        }      
    }
    
}

