section.flex-facture {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    justify-content: space-around;
    width: 60%;
    margin: 20px auto;
    background-color: #303368;
    .block-user1 {
      text-align: left;
      justify-content: center;
      width: 50%;
      min-width: 375px;
      hr {
        width: 80%;
        text-align: center;
      }
    }
    .block-user2 {
      text-align: left;
      justify-content: center;
      width: 50%;
      min-width: 375px;
      strong {
        font-size: 1.4rem;
      }
    }
    .block-product {
      width: 100%;
      .table {
        color: #fff;
        a {
          color: #a76f65;
        }
        a:hover {
            color: #a82811;
        }
      }
      .btn-product {
        float: right;
      }    
    }
}

.modal-content {
  background-color: #6f7191;
  .modal-body {
    background-color: #303368;
  }
}

@media screen and (max-width: 900px) {
  section.flex-facture {
    width: 98%;
    .block-user1 {
      display: none;
    }
  }
}

dl dt,
dl dd {
  letter-spacing: normal;
  display: inline-block;
  margin: 0;
  padding: 0px 6px;
  vertical-align: top;
}
dl.bloc > dt,
dl:not(.bloc) dt:not(:last-of-type),
dl:not(.bloc) dd:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}
dl:not(.bloc) dt {
  border-right: 1px solid #ddd;
}
dt {
  width: 49%;
  text-align: right;
  letter-spacing: 1px !important;
  overflow: hidden;
}
dd {
  width: 49%;
  text-align: left;
}

