.homeContainer {
    max-width: 85em;
    padding: 3em 3em 3em 3em;    
    margin: 1.5em auto;
    background-color: #303368;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    .card {

        min-width: 350px;
        background-color: #282b57;
        padding: 15px;
        margin: 15px auto;
        transition: all .6s ease;
    }
    .card:hover {
        box-shadow: 20px -10px rgba(199, 48, 21, 0.55);
    }
}

.js-line-chart-1 {
    .britechart,
        .tick text {
            font-family: 'Oswald', sans-serif;
            font-size: 0.7rem;
        }
}