.formLogin {
    position: relative;
    background-color: #293557;
    //border: 1px solid #fff;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 2%;
    padding: 15px 15px 35px 15px;
    border-radius: 30% 30% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    h1 {
        font-size: 1.32rem;
        text-align: center;
    }
}

.formLogin:hover {
    border-radius: 0% 0% 25% 25% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

img.logoLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 320px;
}
