.usersCard {
    position: relative; 
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 8px;
    .userCard {
        width: 100%;
        max-width: 350px;
        min-width: 350px;
        padding: 8px;        
        .card {            
            background-color: #303368;
            border-radius: 5%;
            box-shadow: 10px 10px rgba(0,0,0,.25);
            transition: all .6s ease;
            .card-title{
                font-size: 0.9rem;
            }
            .infoFactory{
                font-size: 0.8rem;
                color: #a2a846;
            }
            .card-text{
                font-size: 0.8rem;
            }
        }
        .card:hover {
            box-shadow: 15px -10px rgba(199, 48, 21, 0.55);
        }
    }
    
}

// new users

h4 {
  color: #f0a500;
}

.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  
  margin: 1.5em auto;
  background-color: #303368;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  .row {
    zoom: 1;
    li {
        list-style: none;
    }
    .input-group {
        margin-bottom: 0.7em;        
    }
  }
}

input[type="checkbox"] + label {
    padding-left: 0.5em;
}


@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.addBtn{
    color: #fff;
    margin: 0.6rem auto;
    width:120px;
    height:40px;
    
    border-radius:20px;
    background-color:#CB2025;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}
.addBtn:hover{    
    background-color:#ffffff;
}