// ** FONT ** 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500;1,600&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "_login";
@import "_navbar";
@import "_user";
@import "_customer";
@import "_home";
@import "_facture";



body {
    background-color: #1e263f;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.dataContainer {
    max-width: 50em;
    padding: 1em 3em 2em 3em;
    
    margin: 1.5em auto;
    background-color: #303368;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    .row {
      zoom: 1;
      li {
          list-style: none;
      }
      .input-group {
          margin-bottom: 0.7em;        
      }
    }
    .form-control {
        height: 30px;
        font-family: Arial, Helvetica, sans-serif ;
        font-size: 00.9rem;
    }
}

.titleTab {
    width: 85vw;
    margin: 0 5% 0 5%;
    .left {
        text-align: left;
       .userTitle {    
            color: #fff;
            text-transform: uppercase;
            margin: 15px 0 15px 0;
            font-size: 1rem;
        }
    }
    .right {
        text-align: right;
    }
}

.button_slide {     
    color: #fff;
    border: 2px solid rgb(168, 40, 17);
    background-color: #6165a8;
    border-radius: 0px;
    padding: 6px 16px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a82811;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    a {
        text-decoration: none;
        color: #fff;
    }
}    
  
.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #a82811;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
}

.dataContainer {
    max-width: 55em;
    padding: 1em 3em 2em 3em;    
    margin: 1.5em auto;
    background-color: #303368;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    h1 {
        font-size: 1.6rem;
        a {
            text-decoration: none;
            color: #a82811;
        }
        a:hover {
            color: #a75c4f;
        }
    }
    .fs-4 {
        color: #fff;
    }
    .data-bg-light {
        background-color:#1e263f;        
        .containerTel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px 0 10px 0;
            padding: 5px; 
            .dataTel {
                width: 30%;
                text-align: center;
            }
            .dataMail{
                width: 50%;
                text-align: center;
            }
        }
    }
}
