{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    

<section class="flex-facture">
    <div class="block-user1">
        <hr> 
        <p>
            {{ app.user.raisonSociale }} <br>
            {{ app.user.adresse }} <br>
            {{ app.user.codePostal }} {{ app.user.ville }}
        </p>
        <p>
            Tel: {{ app.user.telephone }} / Por: {{ app.user.portable }}
        </p>
        <p> Email: {{ app.user.email }}</p>
        <hr>
    </div>
    <div class="block-user2">
        <h2>FACTURE # {{ facture.codeFacture }}</h2>
        <p>
            <strong>{{ facture.idCustomer.lastName }} {{ facture.idCustomer.firstName }}</strong> <br>
            {{ facture.idCustomer.codePostal }} {{ facture.idCustomer.ville }}
        </p>
        <p>
            Tel: {{ facture.idCustomer.telephone }} <br>
            Por: {{ facture.idCustomer.portable }}
        </p>
        <p>Email: {{ facture.idCustomer.mail }}</p>
    </div>    
</section>

<section class="flex-facture">
    <div class="block-product">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Prix HT</th>
                    <th scope="col">TVA</th>
                    <th scope="col">Qté</th>
                    <th scope="col">Total TTC</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% set totalHt = 0 %}
            {% set totalTva = 0 %}
            {% set totalProduct = 0 %}
            {% set totalProductHt = 0 %}
            {% set totalProductTva = 0 %}
            {% for product in facture.productFactures %}
                <tr>
                    <td>{{ product.idProduct.description |saut_de_ligne |raw }}</td>
                    <td>{{ product.idProduct.priceHt }}</td>
                    <td>{{ product.idProduct.tva }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        {% set totalProduct = (product.idProduct.priceHt + (product.idProduct.priceHt * (product.idProduct.tva / 100))) * product.quantity %}
                        {% set totalProductHt = product.quantity * product.idProduct.priceHt %}
                        {% set totalProductTva = product.quantity * (product.idProduct.priceHt * (product.idProduct.tva / 100)) %}
                        {{ totalProduct |round_decimal }}
                        {% set total = total + totalProduct %}
                        {% set totalHt = totalHt + totalProductHt %}
                        {% set totalTva = totalTva + totalProductTva %}
                    </td>
                    <td><a href="{{ path('del_facture_product', {'id': product.id}) }}" onclick="return confirm('Supprimer le produit?')"><i class="fa-solid fa-trash"></i></a></td>
                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}" data-bs-whatever="@getbootstrap"><i class="fa-solid fa-pen-to-square"></i></a></td>
                </tr> 

{# ### #}
{# modal Bootstrap #}
<div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier le produit #{{ product.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ path('update_facture_product', {"id": product.id, "idProduct": product.idProduct.id}) }}" method="post">          
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="message-text" rows="5" name="message-name">{{ product.idProduct.description }}</textarea>
          </div>
          <div class="mb-3">
            <label for="price-name" class="col-form-label">Prix HT:</label>
            <input type="number" class="form-control" id="price-name" name="price-name" value="{{ product.idProduct.priceHt }}" min="0" step="0.01">
          </div>
          <div class="mb-3">
            <label for="quantity-name" class="col-form-label">Quantité:</label>
            <input type="number" class="form-control" id="quantity-name" name="quantity-name" value="{{ product.quantity }}" min="1">
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-danger">Mettre à jour</button>
      </div>
      </form>
    </div>
  </div>
</div>
{# end modal #}


            {% endfor %}     
            </tbody>
        </table>
        <div class="btn-product">
            <div class="button_slide slide_right">
                <a href="#" data-bs-toggle="modal" data-bs-target="#newProduct"><i class="fa-solid fa-plus"></i> &nbsp;Ajouter </a>
            </div>
        </div>
    </div>    
</section>

<section class="flex-facture">
    <div class="block-product">
        <br>
        <dl>
          <dt>{{ total |round_decimal }}</dt>
          <dd>TOTAL TTC</dd>
          <dt>{{ totalTva |round_decimal }}</dt>
          <dd>TVA</dd>
          <dt>{{ totalHt |round_decimal }}</dt>
          <dd>Total HT</dd>
          <dt></dt>
          <dd></dd>
          <dt>{{ facture.modePaiement }}</dt>
          <dd>Mode de paiement</dd>
        </dl>
    </div>    
</section>

{# modal new product #}
<div class="modal fade" id="newProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un produit/service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ path('new_facture_product', {"id": facture.id}) }}" method="post">
          <div class="mb-3">
            <label for="ref-name" class="col-form-label">Référence:</label>
            <input type="text" class="form-control" id="ref-name" name="ref-name">
          </div>
          <div class="mb-3">
            <label for="description-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description-text" rows="5" name="description-name"></textarea>
          </div>
          <div class="mb-3">
            <label for="price-name" class="col-form-label">Prix HT:</label>
            <input type="number" class="form-control" id="price-name" name="price-name" min="0" step="0.01">
          </div>
          <div class="mb-3">
            <label for="quantity-name" class="col-form-label">Quantité:</label>
            <input type="number" class="form-control" id="quantity-name" name="quantity-name" min="1">
          </div>
          <div class="mb-3">
            <label for="tva-name" class="col-form-label">TVA:</label>
            <select class="form-select" aria-label="Default select example" id="quantity-name" name="tva-name">                
                <option value="20">20%</option>
                <option value="10">10%</option>
                <option value="5">5%</option>
            </select>            
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Ajouter</button>
      </div>
      </form>
    </div>
  </div>
</div>
{# fin modal #}
{% endblock %}