{% extends 'base.html.twig' %}

{% block title %}Liste des factures{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Liste des Factures</h1>
    </td>
    <td class='right'>        
        <div class="button_slide slide_right"><a href="{{ path('app_customer_new') }}"><i class="fa-solid fa-plus"></i> &nbsp;Ajouter </a></div>
    </td>
  </tr>
</table>    
<hr>

<div class="dataList">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Client</th>
              <th scope="col">Mode de Paiement</th>
              {# <th scope="col">Code Postal</th>
              <th scope="col">Ville</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Portable</th> #}
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for facture in facturesByPage %}
            <tr>
                <td>{{ facture.codeFacture }}</td>
                <td>{{ facture.date|date("d-m-Y") }}</td>
                <td>{{ facture.idCustomer.lastName }} {{ facture.idCustomer.firstName }}</td>
                <td>{{ facture.modePaiement }}</td>
                {# <td>{{ customer.codePostal }}</td>
                <td>{{ customer.ville }}</td>                
                <td>{{ customer.telephone }}</td>
                <td>{{ customer.portable }}</td> #}
                <td><a href="{{ path('app_facture_id', {'id': facture.id}) }}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                <td><a href="{{ path('app_facture_id', {'id': facture.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
            </tr>
          {% else %}
            <tr>
                <td colspan="14">aucun résultat</td>
            </tr>
          {% endfor %}      
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {{ knp_pagination_render(facturesByPage) }}
        </ul>
        </nav>
    </div>
</div>

{% endblock %}
