{# {{ form_start(form) }}
<div class="container">
  <form>
    <div class="row">      
    {{ form_widget(form) }}
    <button class="btn addBtn">{{ button_label|default('Save') }}</button>
    </div>    
  </form>
</div>
{{ form_end(form) }} #}



{{ form_start(form) }}
<div class="container">
  
    <div class="row">      
        
        {{ form_row(form.email) }}
        
        
        {{ form_label(form.roles) }}
        {% for field in form.roles %}
        <li>
            {{ form_widget(field) }}
            {{ form_label(field) }}            
        </li>
        {% endfor %}
        <p></p>

        {{ form_row(form.password) }}      
        {{ form_row(form.adresse) }}      
        {{ form_row(form.ville) }}      
        {{ form_row(form.code_postal) }}      
        {{ form_row(form.telephone) }}      
        {{ form_row(form.portable) }}      
        {{ form_row(form.fax) }}      
        {{ form_row(form.website) }}      
        {{ form_row(form.raison_sociale) }}      
        {{ form_row(form.forme_juridique) }}      
      
        <button type="submit" class="btn addBtn">{{ button_label|default('Ajouter') }}</button>
     
    </div>    
  
</div>
{{ form_end(form) }} 
