{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Modifier  l'utilisateur</h1>
    </td>
    <td class='right'>        
        <div class="button_slide slide_right"><a href="{{ path('app_user_index') }}">back to list</a></div>
        <div class="button_slide slide_right">{{ include('user/_delete_form.html.twig') }}</div>
    </td>
  </tr>
</table> 
<hr>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    

    
{% endblock %}
