{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Index Utilisateur</h1>
    </td>
    <td class='right'>        
        <div class="button_slide slide_right"><a href="{{ path('app_user_new') }}"><i class="fa-solid fa-plus"></i> &nbsp;Ajouter </a></div>
    </td>
  </tr>
</table>    
<hr>

<div class="usersCard">
    {% for user in users %}
    <div class="userCard">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-user"></i> {{ user.email }}</h5>
                <hr>
                <h6 class="infoFactory"><i class="fa-solid fa-building"></i> {{ user.formeJuridique }} {{ user.raisonSociale }}</h6>            
                <p class="card-text">
                    <i class="fa-solid fa-location-dot"></i> {{ user.adresse }} <br>
                    {{ user.codePostal }} {{ user.ville }}
                </p>
                <p class="card-text">
                    <i class="fa-solid fa-phone-volume"></i> {{ user.telephone }} <br>
                    <i class="fa-solid fa-mobile-screen-button"></i> {{ user.portable }}
                </p>
                <p class="card-text">
                    <i class="fa-solid fa-wifi"></i> {{ user.website }} 
                </p>
                <a href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}
