{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<hr>
<table class="titleTab">
  <tr>
    <td class='left'>
        <h1 class="userTitle"><i class="fa-solid fa-users"></i> &nbsp;&nbsp; Nouvel utilisateur</h1>
    </td>
    <td class='right'>        
        <div class="button_slide slide_right"><a href="{{ path('app_user_index') }}">&nbsp; Retour à la liste</a></div>
    </td>
  </tr>
</table> 
<hr>
    {{ include('user/_form.html.twig') }}

    
{% endblock %}
